/*
 * ROOT CSS
 * the main stylesheet for the majority of the website
 * see vars.css for customizing the colors
 */

/*
 * Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

/*
 * Meta formatting
 */
*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    color: var(--color-paragraph);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*
 * Basic formatting
 */

h1 {
    font-family: 'Playfair Display', serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    color: var(--color-header);
}

main > div.section:first-child {
    padding: 220px 20px 100px;
    font-size: 32px;
    line-height: 30px;
}

main > div.section:first-child h1 {
    font-family: 'Megrim', serif;
    font-size: 72px;
    line-height: 60px;
}

main > div.section p {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: var(--blue);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    position: relative;
    top: 0px;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: var(--light-blue);
    top: -2px;
    border-color: var(--light-blue);
}

ul,
ol {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0;
    line-height: 30px;
}

pre {
    font-size: 20px;
}

/*
 * Rainbow text
 */
.rainbow-text {
    color: var(--red);
    position: relative;
    display: inline-block;
    animation: rainbow-text 0.8s linear calc(0.1s * var(--i)) infinite, moving-text 1s ease-in-out calc(0.1s * var(--i)) infinite;
}

/*
 * Sections
 */
.section.faq-questions {
    background-color: var(--color-bg-brightest);
    padding: 0 27%;
    margin: 0;
    width: 100%;
    text-align: left;
}

.flex {
    display: flex;
}

.flex-vert {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.section {
    text-align: center;
    margin: 50px auto;
    padding: 100px 100px 0;
    z-index: 1;
    background-color: var(--color-bg);
}

div.section.first {
    padding: 100px 100px 0;
}

.section.first > h1::after {
    content: '\00a0\1F44B'; /* shows " 👋" after the header in the first section */
    display: inline-block;
    animation: waving-hand 2s ease-in-out infinite;
    transform-origin: 100% 100%;
}

div.top {
    margin-top: 0;
    background-color: #00000000;
    font-size: 32px;
    line-height: 20px;
    text-shadow: 0 5px 50px #fffa;
    padding: 220px 20px 180px;
    overflow: hidden;
    position: relative;
}

div.top h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 58px;
}

.top-img {
    filter: blur(10px);
    overflow: hidden;
    min-height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -50;

    background-image: url('../img/bg2.gif');
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
 * Dividers
 */
.wavedivider1 {
    fill: var(--color-bg-bright);
}

.wavedivider2 {
    fill: var(--color-bg-brighter);
}

.wavedivider3 {
    fill: var(--color-bg-brightest);
}

.divider {
    background-color: transparent;
    width: 100%;
    display: inline-block;
    position: relative;
    pointer-events: none;
}

.bottom-divider {
    transform: rotateZ(180deg) translateY(0.2px);
}

/*
 * Grids
 */
.grid {
    overflow: hidden;
    /* margin-bottom: -0.5em; */
    margin-top: 5px;
}

.grid > a > div {
    display: flexbox;
    overflow: hidden;
    width: 420px;
    height: 180px;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}

.grid > a {
    text-decoration: none;
    display: inline-block;
    border: none;
    top: 0;
}

.grid > a:hover > div {
    background-color: var(--color-bg-brighter);
}

.grid > a > div > img {
    width: 388px;
    margin-bottom: 5px;
}

.grid > a > div > div {
    color: var(--blue);
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    width: 100%;
    text-align: center;
}

.grid > a > div > div > span {
    color: var(--color-paragraph);
    filter: brightness(85%);
}

.grid > a:hover > div > div {
    color: var(--light-blue);
    animation: link-hover 1s ease;
}

.grid > a:hover > div > div > span {
    filter: brightness(100%);
}

/*
 * Footer
 */
footer {
    margin-top: 50px;
    padding: 6em 3em;
    background-color: var(--color-bg-bright);
    display: flex;
    justify-content: space-between;
    line-height: 1.3;
}

footer .text {
    font-size: 1.2em;
    font-weight: 400;
}

footer img {
    width: 75px;
    border-radius: 50%;
    vertical-align: middle;
}

footer ul {
    position: relative;
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style: none;
}

footer ul > li > a {
    color: white;
    text-decoration: none;
    padding: 12px;
}

footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/*
 * Adjust elements when screen gets smaller
 */
@media screen and (max-width: 744px) {
    div.section {
        padding: 20px 20px 0;
    }

    div.section.first {
        padding: 100px 100px 0;
    }

    div.top {
        padding: 220px 20px 180px;
    }

    .grid > a > div > img {
        width: 270px;
        margin-bottom: 5px;
    }

    .grid > a > div {
        display: block;
        overflow: hidden;
        width: 300px;
        height: 150px;
        border-radius: 4px;
        transition: all 0.1s ease-in-out;
    }

    .section.faq-questions {
        padding: 0 12%;
    }
}

/*
 * Custom animations
 */
@keyframes link_hover {
    0% {
        color: var(--blue);
    }
}

@keyframes waving-hand {
    0% {
        rotate: -4deg;
    }

    50% {
        rotate: 4deg;
    }

    100% {
        rotate: -4deg;
    }
}

@keyframes rainbow-text {
    from {
        color: var(--red);
    }

    20% {
        color: var(--yellow);
    }

    40% {
        color: var(--green);
    }

    60% {
        color: var(--blue);
    }

    80% {
        color: var(--purple);
    }

    100% {
        color: var(--red);
    }
}

@keyframes moving-text {
    0% {
        transform-origin: 50% 50%;
        transform: rotateZ(10deg);
    }

    50% {
        transform-origin: 50% 50%;
        transform: rotateZ(-10deg);
    }

    100% {
        transform-origin: 50% 50%;
        transform: rotateZ(10deg);
    }
}
